/*reset css*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;    
    vertical-align:baseline;
    background:transparent;
}
:focus {
	outline: 0;
}
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary { 
    display:block;
}

nav ul ,li{
    list-style:none;
}
a {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    color:inherit;
    vertical-align:baseline;
    background:transparent;
    text-decoration:none;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
input, select {
    vertical-align:middle;
}
input[type=submit],input[type=text]{
	padding:0;
	border:0;	
}
/*common css*/
html{
	font-size:625%;
}
body{
	min-width:12.8rem;
	font-size:.14rem;
	font-family:"Microsoft YaHei",sans-serif;
	/* font-weight: 200; */
}
#header{
	height:.56rem;
}
.header-wrap{
	margin:0 4.7%;	
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}
.header-wrap .header-wrap-logo{
	width: 9%;
	line-height: .56rem;
	background:url(../images/logo.png) no-repeat .14rem;
	padding-left: 5%;
	float: left;
}
.header-wrap-logo a{
	font-size:.21rem;
	font-weight: 400;
}
#header-nav{
	float:right;
	height: .56rem;
}
#header-nav .header-nav-item{
	position:relative;
	display:inline-block;
	line-height: .52rem;
	padding:0 .18rem;
	margin:0 .12rem;
	font-size:.14rem;
	
}
.header-nav-item a:after {
	content: "";
	position: absolute;
	bottom: -.05rem;
	right: 0;
	width: 0;
	border-bottom: .05rem solid #e74f4d;
	transition: all linear 0.5s;
	}

.header-nav-item a:hover {
	color: #e74f4d;
	}
#header-nav .active{
	color: #e74f4d;
	border-bottom: .05rem solid #e74f4d;
	}
.header-nav-item a:hover:after {
	left: 0;
	width: 100%;
	transition: all linear 0.5s;
	}
	#header .login-btn{
		float:right;
		background: url(../images/login-icon.png) .16rem no-repeat;
		line-height: .52rem;
		padding-left: .34rem;
		color: #e74f4d;
	}
	.banner{
		position:relative;
		height: 6.94rem;
		padding-top:2.3rem;
		padding-left:1.28rem;
		background:url(../images/banner.png) no-repeat;
		background-size: 100% 100%;
	}
	.banner .ban-tit{
		font-size:.6rem;
		color:#fff;
		margin-bottom: .24rem;
		font-weight: 400;
	}
	.banner .ban-desc{
		font-size:.21rem;
		line-height: .28rem;
		color: #fff;
		font-weight: 100;
	}
	.banner .ban-btn{
		font-size:.3rem;
		text-align: center;
		color:#fff;
		line-height: .62rem;
		display:block;
		width: 3.3rem;
		height: .62rem;
		margin-top: 66px;
		background:#e74f4d;
		font-weight: 200;
	}
	.banner .g-flow{
		background:#fff;
		position:absolute;
		bottom:0;
		left:0;
		width: 100%;
		padding-bottom: .66rem;
	}
	.g-flow ul{
		display:flex;
	}
	.g-flow-item{
		flex: 1;
	}
	.g-flow-item a{
		display:block;
		text-align:center;
	}
	.g-flow-item a img{
		display:inline-block;
		margin: .46rem 0;
	}
	.g-flow-item .g-flow-tit{
		display:block;
		color: #767777;
		text-align:center;
		padding-bottom: .24rem;
		border-right: .02rem solid #767777;
	}
	.g-flow-item:last-child .g-flow-tit{
		border-right: none;
	}
	.ad-content{
		height:3.62rem;
		background: url(../images/ad_icon.png) center .88rem no-repeat #edecec;
	}
	.ad-content h2{
		padding-top: 2.28rem;
		font-size: .44rem;
		color: #8f908f;
		text-align: center;
		font-weight: 400;
		letter-spacing: .05rem;
	}
	.map-search{
		background:rgb(238,214,214) url(../images/map_bg.png) no-repeat;
		background-size:cover;
		color:#fff;
	}
	.map-search .map-tit{
		font-size: 0.21rem;
		font-weight: 300;
		padding-top: .54rem;
		padding-bottom: .32rem;
		text-align: center;
		position: relative;
	}
	.map-search .map-tit:after{
		position:absolute;
		width:.3rem;
		height:.04rem;
		left:50%;
		margin-left:-.15rem;
		bottom: .2rem;
		display:inline-block;
		content:'';
		background:#fff;
	}
	.map-search .map-desc{
		font-size:.12rem;
		font-weight:100;
		text-align:center;
	}
	.map-search .search-form{
		margin:0 10%;
		padding-top:.52rem;
		padding-bottom:1.32rem;
		display: flex;		
	}
	.search-form .s-form-list{
		flex:1;
		margin-right:3%;
		position: relative;
	}
	.search-form .s-form-list:last-child{
		margin-right:0;
	}
	.search-form .s-form-txt{
		color:#a8aaaa;
		padding-left: .14rem;
		font-size: .12rem;
		width: 100%;
		height: .36rem;
		border: .01rem solid #e1d4cf;
		box-sizing: border-box;
	}
	.s-form-list .c-dropdown{
		position:absolute;
		right: 0.09rem;
		top: .09rem;
		display:inline-block;
		width:.18rem;
		height:.18rem;
		background:#be4e48;
	}
	.s-form-list .c-dropdown:before{
		width: .09rem;
		height: .09rem;
		border-left:.02rem solid #fff;
		border-bottom:.02rem solid #fff;
		content:'';
		display:inline-block;
		transform: rotate(-45deg);
		position: absolute;
		left: .03rem;
		top: .02rem;
	}
	.s-form-btn{
		background:#be4e48;
		width:100%;
		height:.36rem;
		font-size:.12rem;
		color:#fff;
	}
	.pro-list{
		display:none;
		background:#e3e2e4;
		color:#323333;
		border: solid .01rem #be4e48;
		position: absolute;
		width: 100%;
		box-sizing: border-box;
	}
	.f-pro:hover .pro-input .s-form-txt{
		border: .01rem solid #be4e48;
		border-bottom;none;
	}
	.f-pro:hover .pro-list{
		display:block;
	}
	.pro-list .pro-item{
		height:.26rem;
		padding-left: .32rem;
		line-height: .26rem;
		font-size:.12rem;
	}
		.pro-list .pro-item:hover{
		background:#be4e48;
		color:#fff;
	}
	.pro-list .item-check{
		background:#be4e48;
		color:#fff;
		position: relative;
	}
	.pro-list .item-check:before{
		width: .1rem;
		height: .06rem;
		content:'';
		display:inline-block;
		background:transparent;
		border-bottom:.02rem solid #fff;
		border-left:.02rem solid #fff;
		position: absolute;
		left: .10rem;
		top: .06rem;
		transform: rotate(-45deg);
	}
	.act-wall{
		background:#f7f7f7;
	}
	.act-wall .act-list{
		padding: 1rem 12% 1.14rem 12%;
		display:flex;
	}
	.act-list .act-item{
		flex:1;
		margin-right:4%;
		text-align: center;	
	}
	.act-item .fea-img{
		background:#fff;
		padding:.1rem;
		border:2px solid #d1d2d2;

	}
	.fea-active{
		position: relative;
	}
	.fea-active .fea-img{
		transform: translateY(.54rem);
	}
	.act-item img{
		width:2.02rem;
		height:3.12rem;
	}
	.act-item h3{
		margin-top: .14rem;
		margin-bottom: .12rem;
		color: #646464;
		font-weight: 300;
	}
	.fea-active h3{
		width: 100%;
		position:absolute;
		top: -.12rem;
		font-size: .21rem;
		letter-spacing: .3rem;
		left: 50%;
		transform: translate(-50%);
	}
	.act-item .fea-desc{
		font-size:.12rem;
		color:#bdbdbd;
	}
	.fea-active .fea-desc{
		position:absolute;
		top: .3rem;
		left: 50%;
		transform: translate(-50%);
	}


	.hello{
  width:412px;
  height:180px;
  margin-left:20px;
  position:relative;
}
.dl{
  color:#0fb1fa;
  font-weight:400;
  margin-left:-206px;
  margin-top:120px;
  position:absolute;
}
.dn{
    height: 10px;
    border-radius: 10px;
    background: #0fb1fa;
    padding-left: 10px;
    display: inline-block;
    margin-left: 10px;
}
.dp{
    width: 45px;
    height: 45px;
    border-top: 2px solid #0fb1fa;
    border-left: 2px solid #0fb1fa;
    position: absolute;
    margin-left: -116px;
    margin-top: 86px;
    transform: skew(-29deg);
}
.dj{
    width: 90px;
    height: 180px;
    border-radius: 180px 0 0 180px;
    background: #0fb1fa;
    position: absolute;
    margin-left: -90px;
}
.di{
    background-image: repeating-linear-gradient(135deg,#0fb1fa,#0fb1fa 1.3px,transparent 0,transparent 6px);
    width: 90px;
    height: 180px;
    border-radius: 0 180px 180px 0;
    position: absolute;
}
.dk{
      width: 110px;
    height: 110px;
    border-radius: 110px;
    color: #0fb1fa;
    font-size: 16px;
    background: #fff;
    line-height: 110px;
    position: absolute;
    margin-left: -55px;
    top: 35px;
    text-align: center;
    font-weight: 400;
}
.dm{
 color: #0fb1fa;
    font-weight: 400;
    margin-left: 108px;
    margin-top: 35px;
    position: absolute;
    white-space: nowrap;
}
.do{
  height: 10px;
    border-radius: 10px;
    background: #0fb1fa;
    padding-left: 10px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}
.dq{
    width: 26px;
    height: 45px;
    border-bottom: 2px dotted #0fb1fa;
    border-right: 2px dotted #0fb1fa;
    position: absolute;
    margin-left: 85px;
    margin-top: 45px;
    transform: skew(-25deg);
}